/* nav bar  */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Mono:ital@0;1&family=Rubik:ital,wght@1,300&display=swap');
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 2%;
    position: sticky;
    top: 0;
    background-color: rgba(119, 136, 153, 0.908);
    font-family: monospace;
    font-size: large;
}
#navbar a{
    
    text-align: center;
    padding: .5%;

    text-decoration: none;
}
#navbar a:any-link{
    color: rgb(21, 62, 138);
}

#navbar a:hover{
    color: coral;
}


/* mucho texto */
.mucho {
    padding: 1%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    font-variant: small-caps;
    background-color: rgba(119, 136, 153, 0.512);
}
.boring {
    padding: 1%;
    font-family: 'Rubik', sans-serif;
    font-size: small;
}
.academic{
    font-family: 'Roboto Mono', monospace;
    text-indent: 50px;
}
/* mugshot */
.foto{
    display: grid;
    height: 100%;
}
.centered{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
/* players? */
.player {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: space-evenly;
}
.scplayer{ padding: 1%;}
.game{
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(168, 165, 165);
    margin: 12px;
    
}
.fixed {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    scale: 50%;
    transform: translate(50%,50%);

    /* position: fixed;
    scale: 50%;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
    transform: translateY(50%); */
    }
.footer{
        position: absolute;
        bottom: 10;
        padding: 100px;
    }